body {
    padding: 0;
    margin: 0;
  }
  
  #map,
  body,
  html {
    height: 100%;
  }
   #map{height:500px; max-height:500px;} */

  .container-fluid{ margin-top:70px; }

  div.lists h5 strong{ border-radius: 50%;
    width: 34px;
        display: inline-block;
        height: 33px;
     text-align: center;    
    padding-top: 6px;
    font-size: 15px; color:#FFFFFF;}
  div#top-scores h5 strong{ background-color:#0f1ddd; }
  div#worst-scores h5 strong{ background-color:#dd0f18; }
  div#pop-violations h5 strong{ background-color: #000000;
    float: left;
    width: 20%;
    margin-right: 3%;
    border-radius: 0; }
    div#pop-violations h5 section{ float: right; width: 75%; font-size: 14px;}
    div#pop-violations div{ padding-bottom: 20px; margin-bottom: 20px;}
    div#pop-violations div:after{clear: both; display: block; content: '';}